/.vs/Cumulocity.MQTT/v15/Server/sqlite3
/.vs/Cumulocity.MQTT/v15
/test/MQTT.Client.NetStandard/TestResults
/test/MQTT.Client.NetStandard/bin/Debug/netcoreapp2.0
/src/MQTT.Client.NetStandard/obj/Release
/src/MQTT.Client.NetStandard/bin/Debug/netstandard2.0
/src/MQTT.Client.NetStandard/bin/Release/netstandard2.0
/src/MQTT.Client.NetStandard/obj/Debug/netstandard2.0
/src/MQTT.Client.NetStandard/obj
/test/MQTT.Client.NetStandard/obj/Debug/netcoreapp2.0
/test/MQTT.Client.NetStandard/obj/MQTT.Test.csproj.nuget.cache
/test/MQTT.Client.NetStandard/obj
/examples/AdvancedExample/.vs/AdvancedExample/v15
/examples/AdvancedExample/AdvancedExample/bin/Debug/netcoreapp2.0
/examples/AdvancedExample/AdvancedExample/obj
/examples/HelloExample/.vs/HelloExample/v15
/examples/HelloExample/HelloExample/bin/Debug/netcoreapp2.0
/examples/HelloExample/HelloExample/obj/Debug/netcoreapp2.0
/examples/HelloExample/HelloExample/obj
/test-results
/tools/Cake
/tools
/.vscode
/examples/HelloExample/.idea/.idea.HelloExample/.idea
/src/MQTT.Client.NetStandard/MQTT.NetStandard.v3.ncrunchproject.user
/test/MQTT.Client.XUnitTest/bin/Debug/netcoreapp2.0
/test/MQTT.Client.XUnitTest/obj
/test/MQTT.Client.XUnitTest/Properties/launchSettings.json
/test/MQTT.Client.XUnitTest/TestResults
/src/MQTT.Client.NetStandard/bin/Debug
/examples/HelloExample/HelloExample/Properties/PublishProfiles
/examples/HelloExample/HelloExample/bin
/.vs/config
/examples/AdvancedExample/.vs/AdvancedExample/DesignTimeBuild
/examples/HelloExample/HelloExample/HelloExample.csproj.user
/.vs/Cumulocity.MQTT/DesignTimeBuild
/rest-api/.vs/Cumulocity.SDK.Client/v15
/rest-api/src/ConsoleApp1/bin/Debug/netcoreapp2.1
/rest-api/src/ConsoleApp1/obj
/rest-api/src/Cumulocity.SDK.Client/.idea/.idea.Cumulocity.SDK.Client
/rest-api/src/Cumulocity.SDK.Client/.vs/Cumulocity.SDK.Client
/rest-api/src/Cumulocity.SDK.Client/bin/Debug/netstandard2.0
/rest-api/src/Cumulocity.SDK.Client/obj
/rest-api/test/Cumulocity.SDK.Client.IntegrationTest/bin/Debug/netcoreapp2.1
/rest-api/test/Cumulocity.SDK.Client.IntegrationTest/obj
/rest-api/test/Cumulocity.SDK.Client.UnitTest/bin/Debug/netcoreapp2.1
/rest-api/test/Cumulocity.SDK.Client.UnitTest/obj
/rest-api/.vs
/rest-api/Cumulocity.SDK.Client.HelperTest/bin/Debug/netcoreapp2.2
/rest-api/Cumulocity.SDK.Client.HelperTest/obj
/rest-api/src/ConsoleApp1/bin/Debug/netcoreapp2.2
/rest-api/test/Cumulocity.SDK.Client.IntegrationTest/bin/Debug/netcoreapp2.2
/rest-api/test/Cumulocity.SDK.Client.HelperTest/bin/Debug/netcoreapp2.2
/rest-api/test/Cumulocity.SDK.Client.HelperTest/obj
/rest-api/test/TestsExtensions/bin/Debug/netcoreapp2.2
/rest-api/test/TestsExtensions/obj
