/.vs/Cumulocity.MQTT/v15
/REST-SDK/src/ConsoleApp1/bin/Debug/netcoreapp2.2
/REST-SDK/src/ConsoleApp1/obj
/REST-SDK/src/cometd.NetStandard/obj
/REST-SDK/src/Cumulocity.SDK.Client/bin/Debug/netstandard2.0
/REST-SDK/src/Cumulocity.SDK.Client/obj
/REST-SDK/src/ExampleApp/bin/Debug/netcoreapp2.2
/REST-SDK/src/ExampleApp/obj/Debug/netcoreapp2.2
/REST-SDK/src/ExampleApp/obj
/REST-SDK/src/cometd.NetStandard/bin/Debug/netstandard2.0
/REST-SDK/src/cometd.NetStandard/obj/Debug/netstandard2.0
/REST-SDK/src/cometd.NetStandard/obj
/REST-SDK/test/Cumulocity.SDK.Client.HelperTest/bin/Debug/netcoreapp2.2
/REST-SDK/test/Cumulocity.SDK.Client.HelperTest/obj
/REST-SDK/test/Cumulocity.SDK.Client.IntegrationTest/bin/Debug/netcoreapp2.2
/REST-SDK/test/Cumulocity.SDK.Client.IntegrationTest/obj
/REST-SDK/test/Cumulocity.SDK.Client.UnitTest/bin/Debug/netcoreapp2.1
/REST-SDK/test/Cumulocity.SDK.Client.UnitTest/obj/Debug/netcoreapp2.1
/REST-SDK/test/Cumulocity.SDK.Client.UnitTest/obj
/REST-SDK/test/TestsExtensions/bin/Debug/netcoreapp2.2
/REST-SDK/test/TestsExtensions/obj/Debug/netcoreapp2.2
/REST-SDK/test/TestsExtensions/obj
/MQTT-SDK/examples/HelloExample/.vs/HelloExample/DesignTimeBuild
/REST-SDK/.vs/Cumulocity.SDK.Client/v15
/REST-SDK/.idea/.idea.Cumulocity.SDK.Client/.idea
/MQTT-SDK/tools/nuget.exe
*.user
/REST-SDK/examples/ExampleApp/obj

/src/Cumulocity.SDK.MQTT/obj
/src/Cumulocity.SDK.MQTT/bin/Debug/netcoreapp2.2
/src/MQTT.Client.NetStandard/obj
/test/MQTT.Client.XUnitTest/obj/Debug/netcoreapp2.0
/test/MQTT.Client.XUnitTest/obj
/Cumulocity.SDK.MQTT.Tests/bin/Debug/netcoreapp2.2
/Cumulocity.SDK.MQTT.Tests/obj
